node_modules/
node_modules
.idea
build
.env
bin/
gen/
out/
release/
*.apk
*.ap_
*.aab
.gradle/
build/
*.log
local.properties
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
# Android Studio 3 in .gitignore file.
.idea/caches
.idea/modules.xml
# Comment next line if keeping position of elements in Navigation Editor is relevant for you
.idea/navEditor.xml
platforms/android/app/src/main/assets/app/App_Resources/Android/settings.json
platforms/android/app/src/main/assets/app/App_Resources/Android/settings.gradle
platforms/android/app/src/main/assets/app/App_Resources/Android/drawable-hdpi/icon.png
platforms/android/app/src/main/assets/app/App_Resources/Android/drawable-hdpi/background.png
platforms/android/app/src/main/assets/app/App_Resources/Android/app.gradle
platforms/android/app/src/main/assets/app/App_Resources/Android/AndroidManifest.xml
platforms/
src/App_Resources/Android/settings.json
src/App_Resources/Android/settings.gradle
